<section class="keypad hide">
    <div class="keypad-row">
        <button class="key">1</button><button class="key">2</button><button class="key">3</button>
    </div>
    <div class="keypad-row">
        <button class="key">4</button><button class="key">5</button><button class="key">6</button>
    </div>
    <div class="keypad-row">
        <button class="key">7</button><button class="key">8</button><button class="key">9</button>
    </div>
    <div class="keypad-row">
        <button id="shift" class="fat"><i class="bi bi-backspace"></i></button><button class="key">0</button><button
            id="return" class="fat"><i class="bi bi-arrow-return-left"></i></button>
    </div>
</section>