<button class="btn btn-info scroll selection-scroll up selection hide"><i class="bi bi-caret-up-fill"></i></button>

<button class="btn btn-info scroll selection-scroll down selection hide"><i class="bi bi-caret-down-fill"></i></button>

<button class="btn btn-secondary main-scroll scroll up"><i class="bi bi-caret-up-fill"></i></button>

<button class="btn btn-secondary main-scroll scroll down"><i class="bi bi-caret-down-fill"></i></button>