<%- include('partials/head.ejs') %>

    <div class="container main-content justify-content-center d-flex align-items-center">
        
        <div class="d-grid gap-2 col-5 mx-auto">
            <a href="/checkin" class="btn btn-primary btn-lg btn-xl fs-2">Sign In</a>
        </div>

    </div>


    <%- include('partials/footer.ejs') %>