<%- include('partials/head.ejs') %>

    <div class="container main-content justify-content-center d-flex flex-column align-items-center">
        <div class="row w-100 mb-5">
            <div class="d-grid gap-2 col-5 mx-auto">
                <a href="/search" class="btn btn-primary btn-lg btn-xl fs-2">Sign In</a>
            </div>
        </div>
        <div class="row d-flex mt-5 justify-content-center align-items-center">
            <div class="card col-8">
                <div class="card-body">
                    <h5 class="card-title">Disclaimer</h5>
                    <p class="card-text">Kimber Skatepark is a Wandsworth Council Youth Centre. We must be
                        able to show proof of attendance. All users aged 5-18 should be signed in.
                    </p>
                    <p class="card-text">All information is stored securely and is not shared with any third
                        parties. We will not use the information you provide to contact you. Phone numbers
                        are kept for internal use at Kimber Skatepark only (in the event of emergencies).
                    </p>
                </div>
            </div>
        </div>

    </div>


    <%- include('partials/footer.ejs') %>